
# Python
__pycache__/
*.py[cod]
*.log

# Virtual environments
.venv/
venv/

# Env & config
.env
.env.*
.python-version

# Django/Database
db.sqlite3
local_settings.py
/media/
staticfiles/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Migrations (keep __init__.py only)
**/migrations/*.py
!**/migrations/__init__.py

# Node (if using frontend)
node_modules/

# Ruff/Pyright/other tool caches
.ruff_cache/

# Lock files (keep only if needed for reproducibility)
uv.lock
