# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Env & config
.env
.env.*

# Django
db.sqlite3
/media/
staticfiles/
local_settings.py

# VSCode / PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Migrations (opcional — cuidado!)
**/migrations/*.py
!**/migrations/__init__.py

# Node (caso use algum frontend)
node_modules/
